rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Hackathon Easy-Mode Admin Check:
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'bhushankolte20@gmail.com' ||
        request.auth.token.email == 'thatskyie7@gmail.com'
      );
    }

    // Allow collection group query for applications across all users
    match /{path=**}/applications/{appId} {
      allow read, write: if request.auth != null;
    }

    match /users/{userId} {
      // Users can read/edit their own profile. Admins can read all profiles.
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      
      // Applications and Notifications Subcollections
      match /{document=**} {
        // Users can see their own subcollections. Admins can see EVERYTHING.
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }
  }
}
